body {
  background-color: black;
  font-family: Helvetica, Sans-Serif;
  background-size: cover;
}


a{
  font-family: Poppins;
  font-weight: 400;
  color: grey;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: white;
  text-decoration: none;
  text-align: center;
}

span {
  margin: 0;
  padding: 0;
}

.fa-2xl {
  font-size: 8em !important;
}

.container-fluid{
  padding: 0 ;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
 }


.main {
  display: flex;
  justify-content: space-around;
  height: auto;
  width: auto;

}

.moon{
  position:absolute;
  left: 1vw;
  padding: 0;
  z-index: -1;

}

#moon-image {
  max-width: 97vw;
}

.theme {
  position: relative;
  width: 70vw;
  margin-top: 10vw;
  margin-left: 20vw;

}

#name{
  position: relative;
  left: 34%;
  top: 15%;
  font-size: 5vw;
  font-family: Poppins;
  font-weight: 900;
  color: white;
  display: inline-block;
}

.down-button-family{
  position: relative;
  max-width: 8vw;
  transition: 0.3s;
  margin-left: 30vw;
  margin-top: 5vw;
}

.down-button{
  position: relative;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.1;
}


.main-page-button-text{

  position: absolute;
  top: 73%;
  font-size: 0.85vw;
  font-family: Poppins;
  font-weight: bold;
  color: white;
  opacity: 0.1;

  max-width: 150%;
  margin-bottom: 0;
  padding-left: 18%;
}

.down-button-family:hover {
  position: relative;
  scale: 1.2;
  transition: 0.3s;

}

.Socials {
  margin-top: 50vh;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin-bottom: 2vw;

}

#Socials-anchor {
  transition: 0.3s;
}

#Socials-anchor:hover {
  scale: 1.2;
  transition: 0.3s;
}

.Social-info {
  margin-top: 5vw;
  font-size: 0.6vw;
  font-family: sans-serif;
  font-weight: 600;
}

#self-portrait {
  position: relative;
  border-radius: 30%;
  height: 20vw;;
  width: 22vw;
  opacity: 0.9;
  margin-right: 2vw;
  margin-bottom: 5vw;
}

#self-writing {
  max-width: 35vw;
  color: white;
  opacity: 0.8;
  margin-left: 2vw;
  line-height: 2.5rem;
}

.about-me {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-top: 15vw;
}


.card-body {
  display: inline-block;
  max-width: 15vw;
}


#page-4-intro {
  background-color: grey;
  max-width: 40vw;
  border-radius: 10%;
  margin: 0;
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 25vw;
  opacity: 0.6;

}

@media only screen and (max-width: 600px) {
  body {
    background-color: black;
    font-family: Helvetica, Sans-Serif;
    background-size: cover;
  }

  h2 {
    font-size: 1em;
  }

  a{
    font-family: Poppins;
    font-weight: 400;
    color: grey;
    text-decoration: none;
    text-align: center;
  }

  a:hover {
    color: white;
    text-decoration: none;
    text-align: center;
  }

  span {
    margin: 0;
    padding: 0;
  }

  .fa-2xl {
    font-size: 3em !important;
  }

  .container-fluid{
    padding: 0 ;
  }

  .navbar {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 0;
   }


  .main {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: auto;

  }

  .moon{
    position:absolute;
    left: 7vw;
    padding: 0;
    z-index: -1;

  }

  #moon-image {
    max-width: 100vw;
  }

  .theme {
    position: relative;
    width: 70vw;
    margin-top: 10vw;
    margin-left: 20vw;

  }

  #name{
    position: relative;
    left: 34%;
    top: 15%;
    font-size: 5vw;
    font-family: Poppins;
    font-weight: 900;
    color: white;
    display: inline-block;
  }

  .down-button-family{
    position: relative;
    max-width: 8vw;
    transition: 0.3s;
    margin-left: 30vw;
    margin-top: 5vw;
    left: 5vw;
  }

  .down-button{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    opacity: 0.1;
  }


  .main-page-button-text{

    position: absolute;
    top: 73%;
    font-size: 0.85vw;
    font-family: Poppins;
    font-weight: bold;
    color: white;
    opacity: 0.1;

    max-width: 150%;
    margin-bottom: 0;
    padding-left: 18%;
  }

  .down-button-family:hover {
    position: relative;
    scale: 1.2;
    transition: 0.3s;
  }

  .Socials {
    margin-top: 25vh;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin-bottom: 2vw;
    width: 100vw;

  }

  #Socials-anchor {
    transition: 0.3s
  }

  #Socials-anchor:hover {
    scale: 1.2;
    transition: 0.3s;
  }

  .Social-info {
    font-size: 0.6vw;
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: 0;
  }

  #self-portrait {
    position: relative;
    border-radius: 30%;
    height: 10vw;;
    width: 11vw;
    opacity: 0.9;
    margin-right: 2vw;
    margin-bottom: 5vw;
  }

  #self-writing {
    position: relative;
    font-size: 0.5em;
    width: 65vw;
    color: white;
    opacity: 0.8;
    line-height: 1.5em;
  }

  .about-me {

    display: flex;
    margin-top: 10vw;
    margin-left: 5vw;
    width: 90vw;
    justify-content: center;
  }


  .card-body {
    display: inline-block;
    max-width: 15vw;
  }


  #page-4-intro {
    max-width: 80vw;
    border-radius: 10%;
    margin: auto;
    background-color: transparent;
  }

}
